annotations:
  category: MachineLearning
  licenses: Apache-2.0
apiVersion: v2
appVersion: "1.0"
dependencies:
  - name: common
    repository: oci://registry-1.docker.io/bitnamicharts
    tags:
      - bitnami-common
    version: 2.31.4
description: Helm chart for dial extensions
home: https://dialx.ai
icon: "https://docs.dialx.ai/img/favicon.ico"
keywords:
  - ai-dial
kubeVersion: ">=1.23.0-0"
maintainers:
  - name: EPAM Systems
    url: https://github.com/epam
name: dial-extension
sources:
  - https://github.com/epam/ai-dial-helm/tree/main/charts/dial-extension
version: 2.1.2
