{{ template "chart.header" . }}

{{ template "chart.deprecationWarning" . }}

{{ template "chart.badgesSection" . }}

{{ template "chart.description" . }}

## TL;DR

```console
helm repo add dial https://charts.epam-rail.com
helm install my-release dial/dial-extension --set image.repository=epam/ai-dial-adapter-openai
```

## Prerequisites

- Helm 3.8.0+
- PV provisioner support in the underlying infrastructure (optional)
- Ingress controller support in the underlying infrastructure (optional)

{{ template "chart.requirementsSection" . }}

## Installing the Chart

To install the chart with the release name `my-release`:

```console
helm repo add dial https://charts.epam-rail.com
helm install my-release dial/dial-extension
```

The command deploys dial-extension on the Kubernetes cluster in the default configuration. The [Parameters](#parameters) section lists the parameters that can be configured during installation.

## Uninstalling the Chart

To uninstall/delete the `my-release` deployment:

```console
helm delete my-release
```

The command removes all the Kubernetes components associated with the chart and deletes the release.

**NOTE**: Persistent Volumes created by StatefulSets won't be deleted automatically

## Parameters

Specify each parameter using the `--set key=value[,key=value]` argument to `helm install`. For example:

```console
helm install my-release dial/dial-extension --set image.repository=epam/ai-dial-adapter-openai
```

Alternatively, a YAML file that specifies the values for the above parameters can be provided while installing the chart. For example:

```yaml
# values.yaml file content
image:
  repository: epam/ai-dial-adapter-openai
```

```console
helm install my-release dial/dial-extension -f values.yaml
```

**NOTE**: You can use the default [values.yaml](values.yaml)

{{ template "chart.valuesSection" . }}

## Upgrading

### To 2.0.0

> [!IMPORTANT]
> Duplicate values for **labels** and **annotations** have been removed.

- Move the values from the **labels** section to the **commonLabels** section during the update.
- Move the values from the **annotations** section to the **commonAnnotations** section during the update.

### To 3.0.0

> [!IMPORTANT]
> **Breaking changes**: Security improvements have been applied by default.

- **readOnlyRootFilesystem** is now set to `true` by default for enhanced security. If your application requires write access to the root filesystem, you must explicitly set `containerSecurityContext.readOnlyRootFilesystem: false` in your values.
- **resourcesPreset** is now supported. The chart applies a default preset of `nano`. You can override this using the `resourcesPreset` parameter or by setting `resources` directly if needed.

