backend:
  enabled: true
  env:
  # -- Security configuration  
    providers.azure.audiences: "%%AZURE_CLIENT_ID%%"
    ## set oidc auth
    providers.azure.jwk-set-uri : "https://login.microsoftonline.com/common/discovery/v2.0/keys"     
    providers.azure.issuer: "%%AZURE_TENANT_ID%%"
    providers.azure.aliases: "login.microsoftonline.com, login.windows.net, login.microsoft.com, sts.windows.net, login.partner.microsoftonline.cn, login.chinacloudapi.cn, login.microsoftonline.de, login.microsoftonline.us, login.usgovcloudapi.net, login-us.microsoftonline.com"
  # -- Export azure keyvault secret
    DATASOURCE_AUTH_TYPE: azure
    AUTH_AZURE_TYPE: managed
    AUTH_AZURE_CLIENT_ID: "%%AZURE_MANAGED_IDENTITY_CLIENT_ID%%"
    CONFIG_EXPORT_KEYVAULT_TYPE : azure
    AZURE_KEY_VAULT_URL: "%%KEY_VAULT_URL%%"
    CONFIG_EXPORT_KEYVAULT_SECRET_NAMES: "%%KEYVAULT_SECRETS_ARRAY%%"
  
  podLabels:
    azure.workload.identity/use: "true"

  automountServiceAccountToken: true
  
  updateStrategy:
    type: Recreate

  serviceAccount:
    create: true
    automountServiceAccountToken: true
    annotations:
      azure.workload.identity/client-id: "%%AZURE_MANAGED_IDENTITY_CLIENT_ID%%"

  configuration:
    datasourceVendor: "mssql"
    export:
      namespace: "%%CONFIG_EXPORT_NAMESPACE%%"
      type: "configmap"
      names: ["%%CONFIGMAP_EXPORT_NAMES%%"]
      key: "%%CONFIGMAP_EXPORT_KEYS%%"

postgresql:  
  enabled: false

externalDatabase:
  host: "%%AZURE_MSSQL_HOST%%"
  port: 1433
  database: "dial-admin"
  user: "%%AZURE_MSSQL_USER%%"
  password: "none" 

frontend:
  enabled: true
  env:
    # -- Canonical URL of your site
    # ref: https://next-auth.js.org/configuration/options#nextauth_url
    NEXTAUTH_URL: "https://dial-admin.%%DOMAIN%%"
    # -- DIAL core API endpoint
    # Internal service name (DNS name) of DIAL admin service
    DIAL_ADMIN_API_URL: "http://dial-admin-backend.%%NAMESPACE%%.svc.cluster.local"
    # -- External URL of DIAL themes;
    # Same allowlist as for DIAL admin frontend should be applied
    THEMES_CONFIG_URL: "%%THEMES_URL%%"
    # -- External Azure provider configuration;
    AUTH_AZURE_AD_CLIENT_ID: "%%AZURE_CLIENT_ID%%"
    AUTH_AZURE_AD_TENANT_ID: "%%AZURE_TENANT_ID%%"
    AUTH_AZURE_AD_NAME: "%%AZURE_REGISTRATION_NAME%%"
    AUTH_AZURE_AD_SCOPE: "openid profile %%AZURE_EXPOSE_CLIENT_ID%%/.DialAdminLogin email offline_access"

  secrets:
    NEXTAUTH_SECRET: "%%NEXTAUTH_SECRET%%"
    AUTH_AZURE_AD_SECRET: "%%AZURE_CLIENT_SECRET%%"

  ingress:
    enabled: true
    ingressClassName: azure-application-gateway
    annotations:
      appgw.ingress.kubernetes.io/backend-protocol: "http"
      appgw.ingress.kubernetes.io/appgw-ssl-certificate: "ssl-cert"
      appgw.ingress.kubernetes.io/ssl-redirect: "true"
      appgw.ingress.kubernetes.io/backend-path-prefix: "/"
      appgw.ingress.kubernetes.io/request-timeout: "30"
      appgw.ingress.kubernetes.io/use-private-ip: "false"
    hosts:
      - dial-admin.%%DOMAIN%%