{{- if .Values.ingress.enabled }}
{{- $ingressPath := .Values.ingress.path -}}
{{- $pathType := .Values.ingress.pathType -}}
{{- $serviceName := .Values.ingress.serviceName | default ( include "dialCore.names.fullname" . ) -}}
{{- $servicePort := .Values.ingress.servicePort | default .Values.service.ports.http -}}
{{- $extraPaths := .Values.ingress.extraPaths -}}
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: {{ template "dialCore.names.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: core
  {{- if or .Values.ingress.annotations .Values.commonAnnotations }}
  {{- $annotations := merge .Values.ingress.annotations .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" $annotations "context" $ ) | nindent 4 }}
  {{- end }}
spec:
{{- if .Values.ingress.ingressClassName }}
  ingressClassName: {{ .Values.ingress.ingressClassName }}
{{- end }}
{{- if .Values.ingress.tls }}
  tls: {{- include "common.tplvalues.render" (dict "value" .Values.ingress.tls "context" $) | nindent 4 }}
{{- end }}
  rules:
  {{- range .Values.ingress.hosts }}
    - host: {{ tpl . $ }}
      http:
        paths:
      {{- if $extraPaths }}
      {{- toYaml $extraPaths | nindent 10 }}
      {{- end }}
          - path: {{ $ingressPath }}
            pathType: {{ $pathType }}
            backend:
              service:
                name: {{ $serviceName }}
                port:
                  {{- if typeIs "string" $servicePort }}
                  name: {{ $servicePort }}
                  {{- else if or (typeIs "int" $servicePort) (typeIs "float64" $servicePort) }}
                  number: {{ $servicePort | int }}
                  {{- end }}
  {{- end }}
    {{- range .Values.ingress.extraRules }}
    - host: {{ .name | quote }}
      http:
        paths:
          - path: {{ default "/" .path }}
            pathType: {{ default "Prefix" .pathType }}
            backend:
              service:
                name: {{ .serviceName }}
                port:
                  {{- if typeIs "string" .servicePort }}
                  name: {{ .servicePort }}
                  {{- else if or (typeIs "int" .servicePort) (typeIs "float64" .servicePort) }}
                  number: {{ .servicePort | int }}
                  {{- end }}
    {{- end }}
{{- end }}
