{{- if not .Values.configuration.encryption.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "dialCore.encryptionSecretName" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: core
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
data:
  aidial.encryption.secret: {{ include "common.secrets.passwords.manage" (dict "secret" (include "dialCore.encryptionSecretName" .) "key" "aidial.encryption.secret" "providedValues" (list "configuration.encryption.secret") "length" 32 "strong" false "context" $) }}
  aidial.encryption.key: {{ include "common.secrets.passwords.manage" (dict "secret" (include "dialCore.encryptionSecretName" .) "key" "aidial.encryption.key" "providedValues" (list "configuration.encryption.key") "length" 32 "strong" false "context" $) }}
{{- end }}
