annotations:
  category: MachineLearning
  licenses: Apache-2.0
apiVersion: v2
appVersion: "1.37.3"
dependencies:
  - name: common
    repository: oci://registry-1.docker.io/bitnamicharts
    tags:
      - bitnami-common
    version: 2.31.4
  - name: keycloak
    repository: https://charts.bitnami.com/bitnami
    condition: keycloak.enabled
    version: 24.9.0
  - name: dial-extension
    repository: https://charts.epam-rail.com
    alias: authhelper
    condition: authhelper.enabled
    version: 1.4.0
  - name: dial-core
    repository: https://charts.epam-rail.com
    alias: core
    condition: core.enabled
    version: 5.0.0
  - name: dial-extension
    repository: https://charts.epam-rail.com
    alias: chat
    condition: chat.enabled
    version: 1.4.0
  - name: dial-extension
    repository: https://charts.epam-rail.com
    alias: themes
    condition: themes.enabled
    version: 1.4.0
  - name: dial-extension
    repository: https://charts.epam-rail.com
    alias: openai
    condition: openai.enabled
    version: 1.4.0
  - name: dial-extension
    repository: https://charts.epam-rail.com
    alias: bedrock
    condition: bedrock.enabled
    version: 1.4.0
  - name: dial-extension
    repository: https://charts.epam-rail.com
    alias: vertexai
    condition: vertexai.enabled
    version: 1.4.0
  - name: dial-extension
    repository: https://charts.epam-rail.com
    alias: dial
    condition: dial.enabled
    version: 1.4.0
  - name: dial-extension
    repository: https://charts.epam-rail.com
    alias: assistant
    condition: assistant.enabled
    version: 1.4.0
description: Umbrella chart for DIAL solution
home: https://dialx.ai/
icon: "https://docs.dialx.ai/img/favicon.ico"
keywords:
  - ai-dial
kubeVersion: ">=1.23.0-0"
maintainers:
  - name: EPAM Systems LLC
    url: https://github.com/epam
name: dial
sources:
  - https://github.com/epam/ai-dial-helm/tree/main/charts/dial
version: 5.17.3
