name: Lint and Test Charts

on: pull_request

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v3.13.0

      # Python is required because `ct lint` runs Yamale (https://github.com/23andMe/Yamale) and
      # yamllint (https://github.com/adrienverge/yamllint) which require Python
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.x

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config ct.yaml 2>/dev/null)
          if [[ -n "$changed" ]]; then
            echo "$changed" # to show in the logs
            {
              echo 'changed<<EOF'
              echo "${changed}"
              echo EOF
            } >>$GITHUB_OUTPUT
              echo "is_changed=true" >>$GITHUB_OUTPUT
          fi

      - name: Check documentation is up-to-date
        if: steps.list-changed.outputs.is_changed == 'true'
        env:
          HELM_DOCS_VERSION: v1.11.3
          CHANGED_CHARTS: ${{ steps.list-changed.outputs.changed }}
        run: |
          #!/bin/bash
          IFS=$'\n'
          for chart in $CHANGED_CHARTS; do
            docker run --rm --volume "$(pwd):/helm-docs" -u "$(id -u)" jnorwood/helm-docs:${HELM_DOCS_VERSION} --chart-search-root=${chart}
            if [[ $(git status --porcelain ${chart}/README.md) ]]; then
              echo "::error::Documentation for ${chart} is not up-to-date. Please run \`helm-docs\` and commit changes!"
              exit 1
            else
              echo "Documentation for ${chart} is up-to-date."
            fi
          done

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.is_changed == 'true'
        run: ct lint --config ct.yaml

      - name: Create kind cluster
        if: steps.list-changed.outputs.is_changed == 'true'
        uses: helm/kind-action@ef37e7f390d99f746eb8b610417061a60e82a6cc # v1.14.0

      - name: Run chart-testing (install)
        if: steps.list-changed.outputs.is_changed == 'true'
        run: ct install --config ct.yaml
