on:
  push:
    branches:
      - 'main'
    paths:
      - 'README.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: main
      - run: |
          cp -f README.md ${{ runner.temp }}/README.md
      - name: Checkout gh-pages
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: gh-pages
          token: ${{ secrets.ACTIONS_BOT_TOKEN }}
      - run: |
          cp -f ${{ runner.temp }}/README.md .
          git config user.name "ai-dial-actions"
          git config user.email "149404362+ai-dial-actions@users.noreply.github.com"
          git add README.md
          git diff --quiet && git diff --staged --quiet || git commit --signoff -m "Sync README.md from main branch"
          git push
