{{- if .Values.deploymentManager.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "dialAdmin.deploymentManager.fullname" . }}-dm-database-secret
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: analytics
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{- if eq .Values.deploymentManager.configuration.datasource.datasourceVendor "postgresql" }}
  DATASOURCE_VENDOR: {{ "POSTGRES" | b64enc | quote }}
  POSTGRES_HOST: {{ include "dialAdmin.database.host" . | b64enc | quote }}
  POSTGRES_PORT: {{ include "dialAdmin.database.port" . | b64enc | quote }}
  POSTGRES_DATABASE: {{ include "dialAdmin.deploymentManager.database.name" . | b64enc | quote }}
  POSTGRES_DATASOURCE_USERNAME: {{ include "dialAdmin.deploymentManager.database.user" . | b64enc | quote }}
  POSTGRES_DATASOURCE_PASSWORD: {{ include "dialAdmin.deploymentManager.database.password" . | b64enc | quote }}
  {{- else if and (include "dialAdmin.useExternalDB" .) (eq .Values.deploymentManager.configuration.datasource.datasourceVendor "mssql") }}
  DATASOURCE_VENDOR: {{ "MS_SQL_SERVER" | b64enc | quote }}
  MS_SQL_SERVER_HOST: {{ include "dialAdmin.database.host" . | b64enc | quote }}
  MS_SQL_SERVER_PORT: {{ include "dialAdmin.database.port" . | b64enc | quote }}
  MS_SQL_SERVER_DATABASE: {{ include "dialAdmin.deploymentManager.database.name" . | b64enc | quote }}
  MS_SQL_SERVER_DATASOURCE_USERNAME: {{ include "dialAdmin.deploymentManager.database.user" . | b64enc | quote }}
  MS_SQL_SERVER_DATASOURCE_PASSWORD: {{ include "dialAdmin.deploymentManager.database.password" . | b64enc | quote }}
  {{- else if eq .Values.deploymentManager.configuration.datasource.datasourceVendor "h2" }}
  DATASOURCE_VENDOR: {{ "H2" | b64enc | quote }}
  H2_FILE: {{ printf "%s/deploymentManager" .Values.deploymentManager.persistence.mountPath | b64enc | quote }}
  {{- end }}

{{- end }}

---

{{- if and (.Values.deploymentManager.enabled) (eq .Values.deploymentManager.configuration.datasource.datasourceVendor "postgresql") }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.postgresql.primary.extraEnvVarsSecret | default (printf "%s-postgresql-secret" (include "dialAdmin.deploymentManager.fullname" .)) }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: analytics
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
data:
  DEPLOYMENT_MANAGER_DATABASE: {{ include "dialAdmin.deploymentManager.database.name" . | b64enc | quote }}
  DEPLOYMENT_MANAGER_USER: {{ include "dialAdmin.deploymentManager.database.user" . | b64enc | quote }}
  DEPLOYMENT_MANAGER_PASSWORD: {{ include "dialAdmin.deploymentManager.database.password" . | b64enc | quote }}
{{- end }}