{{- if and .Values.deployment_manager.enabled .Values.deployment_manager.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
{{- if eq (include "common.names.namespace" .) .Values.deployment_manager.configuration.build.namespace }}
kind: Role
{{- else }}
kind: ClusterRole
{{- end }}
metadata:
  name: {{ include "dialAdmin.deployment_manager.fullname.namespace" . }}
  {{- if eq (include "common.names.namespace" .) .Values.deployment_manager.configuration.build.namespace }}
  namespace: {{ include "common.names.namespace" . | quote }}
  {{- end }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: deployment-manager
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
rules:
  - apiGroups:
      - "batch"
    resources:
      - jobs
    verbs:
      - get
      - list
      - watch
      - create
      - delete
  - apiGroups:
      - ""
    resources:
      - pods
      - pods/log
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
      - configmaps
    verbs:
      - get
      - create
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "common.names.fullname.namespace" . }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
  namespace: {{ include "dialAdmin.deployment_manager.build.namespace" . }}
subjects:
  - kind: ServiceAccount
    name:  {{ include "dialAdmin.deployment_manager.serviceAccountName" . }}
    namespace: {{ include "common.names.namespace" . | quote }}
roleRef:
  {{- if eq (include "common.names.namespace" .) .Values.deployment_manager.configuration.build.namespace }}
  kind: Role
  {{- else }}
  kind: ClusterRole
  {{- end }}
  name: {{ include "dialAdmin.deployment_manager.fullname.namespace" . }}
  apiGroup: rbac.authorization.k8s.io
{{- end }}
---

{{- if and .Values.deployment_manager.enabled .Values.deployment_manager.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
{{- if eq (include "common.names.namespace" .) .Values.deployment_manager.configuration.deploy.knative.namespace }}
kind: Role
{{- else }}
kind: ClusterRole
{{- end }}
metadata:
  name: {{ include "dialAdmin.deployment_manager.fullname.namespace" . }}-knative
  {{- if eq (include "common.names.namespace" .) .Values.deployment_manager.configuration.deploy.knative.namespace }}
  namespace: {{ include "common.names.namespace" . | quote }}
  {{- end }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: deployment-manager
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
rules:
  - apiGroups:
      - "serving.knative.dev"
    resources:
      - services
    verbs:
      - get
      - list
      - watch
      - create
      - delete
  - apiGroups:
      - ""
    resources:
      - pods
      - pods/log
      - events
    verbs:
      - get
      - list
      - watch
      - delete
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - create
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "common.names.fullname.namespace" . }}-knative
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
  namespace: {{ include "dialAdmin.deployment_manager.build.namespace" . }}
subjects:
  - kind: ServiceAccount
    name:  {{ include "dialAdmin.deployment_manager.serviceAccountName" . }}
    namespace: {{ include "common.names.namespace" . | quote }}
roleRef:
  {{- if eq (include "common.names.namespace" .) .Values.deployment_manager.configuration.deploy.knative.namespace }}
  kind: Role
  {{- else }}
  kind: ClusterRole
  {{- end }}
  name: {{ include "dialAdmin.deployment_manager.fullname.namespace" . }}
  apiGroup: rbac.authorization.k8s.io
{{- end }}